<section class="sec-form">
  <h2>Cadastre seu livro</h2>
  <form action="/books/insertbook" method="post" class="form">
    <div class="form-control">
      <label for="title">Título:</label>
      <input type="text" name="title" id="title" placeholder="Digite o título do livro" required>
    </div>
    <div class="form-control">
      <label for="pageqty">Páginas:</label>
      <input type="number" name="pageqty" id="pageqty" placeholder="Digite a quantidate de páginas" required>
    </div>
    <div class="form-control">
      <input type="submit" value="Cadastrar">
    </div>
  </form>
</section>