<section class="sec-dashbord">
  <div class="title-container">
    <h2>Dashbord</h2>
    <a href="/toughts/add" class="btn">Criar pensamento</a>
  </div>
  <div class="toughts-container">
    <h2>Pensamentos</h2>
  </div>
</section>