<section class='sec-auth'>
  <h2>Entrar</h2>
  <form action='/login' method='post'>
    <div class='form-control'>
      <label for='email'>E-mail</label>
      <input
        type='text'
        name='email'
        id='email'
        placeholder='Seu e-mail'
        required
      />
    </div>
    <div class='form-control'>
      <label for='password'>Senha</label>
      <input
        type='password'
        name='password'
        id='password'
        placeholder='Sua senha'
        required
      />
    </div>
    <input type='submit' value='Entrar' />
    <p>Não possuí uma conta?
      <a href='/register'>Registre-se</a>
    </p>
  </form>
</section>