<section class='sec-auth'>
  <h2>Registre-se</h2>
  <form action='/register' method='post'>
    <div class='form-control'>
      <label for='name'>Nome</label>
      <input
        type='text'
        name='name'
        id='name'
        placeholder='Seu nome'
        required
      />
    </div>
    <div class='form-control'>
      <label for='email'>E-mail</label>
      <input
        type='email'
        name='email'
        id='emai'
        placeholder='Seu melhor email'
        required
      />
    </div>
    <div class='form-control'>
      <label for='password'>Senha</label>
      <input
        type='password'
        name='password'
        id='password'
        placeholder='Crie uma senha forte'
        required
      />
    </div>
    <div class='form-control'>
      <label for='confirmPassword'>Confirmar senha</label>
      <input
        type='password'
        name='confirmPassword'
        id='confirmPassword'
        placeholder='Confirme sua senha'
        required
      />
    </div>
    <input type='submit' value='Cadastrar' />
    <p>Já possuí uma conta?
      <a href='/login'>Entrar</a>
    </p>
  </form>
</section>