<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel='shortcut icon' href='/assets/favicon.ico' type='image/x-icon' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'
    />
    <title>Toughts</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="/assets/toughts_logo.png" alt="Toughts logo"></a>
      <nav>
        <a href="/">Pensamentos</a>
        {{#if session.userId}}
          <a href="/toughts/dashbord">Dashbord</a>
          <a href="/toughts/logout">Sair</a>
        {{else}}
          <a href="/register">Cadastrar</a>
          <a href="/login">Entrar</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{#if messages.error_message}}
        <div class="message error_message">
          {{messages.error_message}}
        </div>
      {{/if}}
      {{#if messages.success_message}}
        <div class="message success_message">
          {{messages.success_message}}
        </div>
      {{/if}}
      {{{body}}}
    </main>
    <footer>
      <p><span>Toughts</span> - &copy; 2024</p>
    </footer>
  </body>
</html>