<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>NodeJS com Sequelize</title>
</head>
<body>
  <header>
    <h1>NodeJS + SequelizeL</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/users">Cadastrar</a>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
</body>
</html>