<section>
  <h2>Mais sobre o usuário: {{user.name}}</h2>
  <div class="user-view">
    <h3>Nome: {{user.name}}</h3>
    <p>Profissão: {{user.occupation}}</p>
    <p>Receber promoções: {{#if user.newsletter}} Ativado {{else}} Desativado {{/if}}</p>
    <a href="/users" class="back">Voltar</a>
  </div>
</section>