* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  padding: 40px 20px;
  text-align: center;
  background-color: gray;
  color: #fafafa;

  display: flex;
  justify-content: space-between;

  > h1 {
    font-size: 1.2rem;
  }

  > nav a {
    color: #fafafa;
    margin-right: 1rem;
  }
}

main {
  padding: 40px 20px;
  text-align: center;
}

.sec-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 520px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.form-control {
  display: grid;
  text-align: left;
  gap: 0.5rem;
  width: 80%;

  > input {
    padding: 0.6rem;
    width: 100%;
  }

  > input[type=submit] {
    background-color: darkgray;
    cursor: pointer;
    margin: 1.5rem 0;
    font-weight: bold;
    font-size: 1rem;
  }
}

.back {
  background-color: lightgray;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border: none;
}
