<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat accusantium explicabo nulla ducimus dolores eligendi pariatur, eum assumenda optio libero. Repudiandae, consequuntur unde nostrum cum minus quam magnam delectus asperiores!</p>
  <div>
    <a href="/sobre">Página de sobre</a>
  </div>
</body>
</html>