<!DOCTYPE html>
<html lang="sobre">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Sobre</title>
</head>
<body>
  <h1>Sobre nós</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis facere quisquam odit cupiditate quasi officia iure earum qui pariatur in, voluptas consequuntur exercitationem corrupti? Aspernatur odit amet in optio repellendus.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea veritatis voluptatum magnam iste amet ab distinctio neque aut quas voluptatibus, esse repellat aspernatur unde sint quidem beatae eveniet est illum.</p>
  <div>
    <a href="/">Voltar pra home</a>
    <a href="/sobre/autor">Ir pra sobre o autor</a>
  </div>
</body>
</html>