<section class="sec-form">
  <h2>Adicionar um usuário</h2>
  <form action="/users/create" method="post" class="form">
    <div class="form-control">
      <label for="name">Nome</label>
      <input type="text" name="name" id="name" placeholder="Digite o nome do usuário" required>
    </div>
    <div class="form-control">
      <label for="occupation">Profissão</label>
      <input type="text" name="occupation" id="occupation" placeholder="Digite sua profissão" required>
    </div>
    <div class="form-control form-checkbox">
      <label for="newsletter">Enviar promoções</label>
      <input type="checkbox" name="newsletter" id="newsletter" checked>
    </div>
    <div class="form-control">
      <input type="submit" value="Cadastrar">
    </div>
  </form>
</section>